.highlight {
    background-color: yellow;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #2067c4;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
}

button i {
    margin-right: 5px;
}
